Repository aws-amplify/amplify-ui, pull requests merged in 2021-12, with the labels that each got.

#890 fix(angular): Support `strict: true`
  .changeset/khaki-hounds-brush.md
  examples/angular/src/app/app.component.ts
  examples/angular/src/pages/ui/components/authenticator/custom-sign-up-fields/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/custom-slots/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/i18n/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/modal/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/reset-password/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-in-federated/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-in-sms-mfa/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-in-totp-mfa/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-in-totp-sms/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-in-with-email/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-in-with-phone/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-in-with-username/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-up-with-attributes/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-up-with-email-lambda/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-up-with-email/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-up-with-phone/aws-exports.d.ts
  examples/angular/src/pages/ui/components/authenticator/sign-up-with-username/aws-exports.d.ts
  examples/angular/tsconfig.json
  package.json
  packages/ui/src/types/authMachine.ts
  yarn.lock
Labels: Angular

#912 Fix height jumps between screens
  .changeset/green-buttons-hear.md
  packages/angular/projects/ui-angular/src/lib/components/authenticator/components/authenticator/authenticator.component.html
  packages/angular/projects/ui-angular/src/lib/components/authenticator/components/authenticator/authenticator.component.ts
  packages/angular/projects/ui-angular/src/lib/primitives/tab-item/tab-item.component.ts
  packages/react/src/components/Authenticator/Router/index.tsx
  packages/react/src/components/Authenticator/shared/SignInSignUpTabs.tsx
  packages/ui/src/theme/css/component/authenticator.scss
  packages/vue/src/components/authenticator.vue
Labels: Authenticator

#982 Fix path to /theming
  docs/src/pages/components/authenticator/index.page.mdx
Labels: Documentation

#996 Add dutch translation
  .changeset/dull-jokes-live.md
  docs/src/pages/components/authenticator/index.page.mdx
  packages/ui/src/i18n/dictionaries/authenticator/index.ts
  packages/ui/src/i18n/dictionaries/authenticator/nl.ts
  packages/ui/src/i18n/dictionaries/index.ts
  packages/ui/src/i18n/translations.ts
Labels: I18n

#1051 Upgrade tsup to support --inject
  .husky/post-merge
  package.json
  packages/react/src/react-shim.js
  packages/react/tsup.config.js
  packages/ui/src/globals.js
  patches/klaw-sync+6.0.0.patch
  patches/tsup+4.14.0.patch
  yarn.lock
Labels: build

#1053 Replace `ultra build` with `turbo run build`
  .gitignore
  examples/vue/package.json
  package.json
  yarn.lock
Labels: build
