Repository aws-amplify/amplify-ui, pull requests merged in 2021-11, with the labels that each got.

#617 Fix primitives catalog
  .changeset/forty-drinks-check.md
  packages/react/scripts/generatePrimitivesCatalog.ts
Labels: React

#618 Make style prop types more flexible
  .changeset/modern-sloths-cheat.md
  packages/react/src/primitives/shared/styleUtils.ts
  packages/react/src/primitives/types/grid.ts
  packages/react/src/primitives/types/style.ts
Labels: React

#638 Fix getOverrideProps to return all, not just 2
  .changeset/tricky-worms-act.md
  packages/react/src/primitives/shared/__tests__/utils.test.tsx
  packages/react/src/primitives/shared/utils.ts
Labels: bug

#593 SliderField Primitive
  README.md
  docs/src/components/LoaderPropControls.tsx
  docs/src/components/SliderFieldPropControls.tsx
  docs/src/components/StepperFieldPropControls.tsx
  docs/src/components/useLoaderProps.tsx
  docs/src/components/useSliderFieldProps.tsx
  docs/src/pages/components/sliderfield/demo.tsx
  docs/src/pages/components/sliderfield/examples.tsx
  docs/src/pages/components/sliderfield/index.page.mdx
  docs/src/pages/components/sliderfield/react.mdx
  docs/src/pages/components/stepperfield/react.mdx
  docs/src/styles/index.scss
  docs/src/styles/sliderFieldStyles.css
  packages/react/__tests__/exports.ts
  packages/react/package.json
  packages/react/src/primitives/FieldGroup/FieldGroup.tsx
  packages/react/src/primitives/Label/Label.tsx
  packages/react/src/primitives/SliderField/SliderField.tsx
  packages/react/src/primitives/SliderField/__tests__/SliderField.test.tsx
  packages/react/src/primitives/SliderField/index.ts
  packages/react/src/primitives/StepperField/StepperField.tsx
  packages/react/src/primitives/index.tsx
  packages/react/src/primitives/shared/constants.ts
  packages/react/src/primitives/shared/utils.ts
  packages/react/src/primitives/types/base.ts
  packages/react/src/primitives/types/fieldGroup.ts
  packages/react/src/primitives/types/index.ts
  packages/react/src/primitives/types/sliderField.ts
  packages/ui/src/theme/__tests__/defaultTheme.test.ts
  packages/ui/src/theme/__tests__/overrides.test.ts
  packages/ui/src/theme/css/component/fieldGroup.scss
  packages/ui/src/theme/css/component/sliderField.scss
  packages/ui/src/theme/css/styles.scss
  packages/ui/src/theme/tokens/components/fieldGroup.js
  packages/ui/src/theme/tokens/components/index.js
  packages/ui/src/theme/tokens/components/sliderField.js
  yarn.lock
Labels: pending-review

#650 Render required attributes by default in React
  .changeset/cyan-zoos-care.md
  docs/src/pages/components/authenticator/index.page.mdx
  docs/src/pages/components/authenticator/signUpAttributes.all.react.mdx
  docs/src/pages/components/authenticator/signUpAttributes.default.react.mdx
  examples/angular/src/pages/ui/components/authenticator/sign-up-with-username/sign-up-with-username.component.ts
  examples/next/pages/ui/components/authenticator/custom-sign-up-fields/index.page.tsx
  examples/next/pages/ui/components/authenticator/sign-up-with-username/index.page.tsx
  examples/vue/src/pages/ui/components/authenticator/sign-up-with-username/index.vue
  packages/e2e/cypress/integration/common/shared.ts
  packages/e2e/features/ui/components/authenticator/sign-up-with-attributes.feature
  packages/e2e/features/ui/components/authenticator/sign-up-with-phone.feature
  packages/e2e/features/ui/components/authenticator/sign-up-with-username.feature
  packages/react/src/components/Authenticator/Authenticator.tsx
  packages/react/src/components/Authenticator/Provider/index.tsx
  packages/react/src/components/Authenticator/SignUp/FormFields.tsx
  packages/react/src/components/Authenticator/shared/UserNameAlias.tsx
  packages/ui/src/i18n/translations.ts
  packages/ui/src/machines/authenticator/index.ts
  packages/ui/src/types/authMachine.ts
Labels: React

#668 Render required attributes by default in Angular
  examples/angular/src/app/app-routing.module.ts
  examples/angular/src/app/app.module.ts
  examples/angular/src/pages/ui/components/authenticator/sign-up-with-attributes/sign-up-with-attributes.component.html
  examples/angular/src/pages/ui/components/authenticator/sign-up-with-attributes/sign-up-with-attributes.component.ts
  packages/angular/projects/ui-angular/src/lib/components/authenticator/components/amplify-authenticator/amplify-authenticator.component.ts
  packages/angular/projects/ui-angular/src/lib/components/authenticator/components/amplify-sign-up/sign-up-form-fields/sign-up-form-fields.component.html
  packages/angular/projects/ui-angular/src/lib/components/authenticator/components/amplify-sign-up/sign-up-form-fields/sign-up-form-fields.component.ts
  packages/angular/projects/ui-angular/src/lib/primitives/amplify-form-field/amplify-form-field.component.html
  packages/angular/projects/ui-angular/src/lib/primitives/amplify-form-field/amplify-form-field.component.ts
  packages/angular/projects/ui-angular/src/lib/primitives/amplify-password-field/amplify-password-field.component.html
  packages/angular/projects/ui-angular/src/lib/primitives/amplify-password-field/amplify-password-field.component.ts
  packages/angular/projects/ui-angular/src/lib/primitives/amplify-text-field/amplify-text-field.component.html
  packages/angular/projects/ui-angular/src/lib/primitives/amplify-text-field/amplify-text-field.component.ts
  packages/angular/projects/ui-angular/src/lib/primitives/phone-number-field/phone-number-field.component.html
  packages/angular/projects/ui-angular/src/lib/primitives/phone-number-field/phone-number-field.component.ts
  packages/angular/projects/ui-angular/src/lib/services/authenticator.service.ts
  packages/e2e/features/ui/components/authenticator/sign-up-with-attributes.feature
  packages/e2e/features/ui/components/authenticator/sign-up-with-phone.feature
  packages/e2e/features/ui/components/authenticator/sign-up-with-username.feature
  packages/ui/src/helpers/auth.ts
  packages/ui/src/types/authMachine.ts
Labels: Angular

#601 useAuth React hook
  .changeset/orange-eels-reflect.md
  docs/src/pages/ui/hooks/auth/index.page.mdx
  docs/src/pages/ui/hooks/auth/react.mdx
  packages/react/__tests__/exports.ts
  packages/react/src/hooks/__tests__/useAuth.test.ts
  packages/react/src/hooks/index.tsx
  packages/react/src/hooks/useAuth.ts
Labels: React

#669 Render required attributes by default in Vue
  examples/vue/src/pages/ui/components/authenticator/custom-sign-up-fields/index.vue
  examples/vue/src/pages/ui/components/authenticator/sign-up-with-attributes/index.vue
  packages/e2e/features/ui/components/authenticator/sign-up-with-attributes.feature
  packages/e2e/features/ui/components/authenticator/sign-up-with-phone.feature
  packages/e2e/features/ui/components/authenticator/sign-up-with-username.feature
  packages/vue/src/components/alias-control.vue
  packages/vue/src/components/authenticator-sign-up-form-fields.vue
  packages/vue/src/components/authenticator.vue
  yarn.lock
Labels: Vue

#635 Expander Primitive
  README.md
  docs/src/components/ExpanderPropControls.tsx
  docs/src/components/useExpanderProps.tsx
  docs/src/pages/components/authenticator/index.page.mdx
  docs/src/pages/components/expander/demo.tsx
  docs/src/pages/components/expander/examples/basicMultipleExample.tsx
  docs/src/pages/components/expander/examples/basicSingleExample.tsx
  docs/src/pages/components/expander/examples/classStylingExample.tsx
  docs/src/pages/components/expander/examples/collapsibleExample.tsx
  docs/src/pages/components/expander/examples/controlledMultipleExample.tsx
  docs/src/pages/components/expander/examples/controlledSingleExample.tsx
  docs/src/pages/components/expander/examples/expandedByDefaultMultipleExample.tsx
  docs/src/pages/components/expander/examples/expandedByDefaultSingleExample.tsx
  docs/src/pages/components/expander/examples/index.ts
  docs/src/pages/components/expander/examples/stylePropsExample.tsx
  docs/src/pages/components/expander/index.page.mdx
  docs/src/pages/components/expander/react.mdx
  docs/src/styles/expanderStyles.css
  docs/src/styles/index.scss
  packages/react/__tests__/exports.ts
  packages/react/package.json
  packages/react/src/primitives/Expander/Expander.tsx
  packages/react/src/primitives/Expander/ExpanderItem.tsx
  packages/react/src/primitives/Expander/__tests__/Expander.test.tsx
  packages/react/src/primitives/Expander/__tests__/ExpanderItem.test.tsx
  packages/react/src/primitives/Expander/index.ts
  packages/react/src/primitives/index.tsx
  packages/react/src/primitives/shared/constants.ts
  packages/react/src/primitives/types/expander.ts
  packages/react/src/primitives/types/index.ts
  packages/ui/src/theme/__tests__/defaultTheme.test.ts
  packages/ui/src/theme/__tests__/overrides.test.ts
  packages/ui/src/theme/css/component/expander.scss
  packages/ui/src/theme/css/styles.scss
  packages/ui/src/theme/tokens/components/checkbox.js
  packages/ui/src/theme/tokens/components/expander.js
  packages/ui/src/theme/tokens/components/fieldControl.js
  packages/ui/src/theme/tokens/components/index.js
  packages/ui/src/theme/tokens/components/pagination.js
  packages/ui/src/theme/tokens/components/placeholder.js
  packages/ui/src/theme/tokens/components/radio.js
  packages/ui/src/theme/tokens/components/switchField.js
  packages/ui/src/theme/tokens/components/tabs.js
  packages/ui/src/theme/tokens/radii.ts
  packages/ui/src/theme/tokens/time.ts
  yarn.lock
Labels: pending-review

#636 useStorageURL React hook
  .changeset/moody-clocks-rest.md
  docs/src/pages/ui/hooks/storage/index.page.mdx
  docs/src/pages/ui/hooks/storage/react.mdx
  packages/react/__tests__/exports.ts
  packages/react/src/hooks/__tests__/useStorageURL.test.ts
  packages/react/src/hooks/index.tsx
  packages/react/src/hooks/useStorageURL.ts
Labels: React

#700 refactor: removing labelled by children in favor of label prop
  .changeset/bump-versions.md
  docs/src/components/CheckboxFieldPropControls.tsx
  docs/src/components/ExpanderPropControls.tsx
  docs/src/components/SliderFieldPropControls.tsx
  docs/src/components/StepperFieldPropControls.tsx
  docs/src/components/ToggleButtonPropControls.tsx
  docs/src/components/useCheckboxFieldProps.tsx
  docs/src/pages/components/authenticator/index.page.mdx
  docs/src/pages/components/checkboxfield/demo.tsx
  docs/src/pages/components/checkboxfield/examples/controlledExample.tsx
  docs/src/pages/components/checkboxfield/examples/valueExample.tsx
  docs/src/pages/components/checkboxfield/react.mdx
  examples/next/pages/ui/components/authenticator/custom-sign-up-fields/index.page.tsx
  packages/react/src/primitives/Checkbox/Checkbox.tsx
  packages/react/src/primitives/Checkbox/__tests__/Checkbox.test.tsx
  packages/react/src/primitives/CheckboxField/CheckboxField.tsx
  packages/react/src/primitives/CheckboxField/__tests__/CheckboxField.test.tsx
  packages/react/src/primitives/types/checkbox.ts
  packages/react/src/primitives/types/checkboxField.ts
Labels: React, pending-review

#776 Persist & scroll to anchor when changing frameworks
  docs/src/components/Layout/FrameworkChooser.tsx
Labels: Documentation

#779 Fix doc warnings
  docs/src/components/Layout/Footer.tsx
  docs/src/components/Layout/SecondaryNav.tsx
  docs/src/pages/_app.page.tsx
Labels: Documentation, build

#783 React documentation prefers Authenticator over withAuthenticator
  docs/src/pages/components/authenticator/LabelsAndTextDemo.tsx
  docs/src/pages/components/authenticator/index.page.mdx
  docs/src/pages/components/authenticator/initialState.resetPassword.react.mdx
  docs/src/pages/components/authenticator/initialState.signIn.react.mdx
  docs/src/pages/components/authenticator/initialState.signUp.react.mdx
  docs/src/pages/components/authenticator/loginMechanisms.email.react.mdx
  docs/src/pages/components/authenticator/loginMechanisms.phone_number.react.mdx
  docs/src/pages/components/authenticator/loginMechanisms.username.react.mdx
  docs/src/pages/components/authenticator/sign-up-fields.react.mdx
  docs/src/pages/components/authenticator/signUpAttributes.all.react.mdx
  docs/src/pages/components/authenticator/signUpAttributes.default.react.mdx
  docs/src/pages/components/authenticator/socialProviders.react.mdx
  examples/next/pages/ui/components/authenticator/custom-sign-up-fields/index.page.tsx
  examples/next/pages/ui/components/authenticator/reset-password/index.page.tsx
  examples/next/pages/ui/components/authenticator/sign-in-with-username/index.page.tsx
  examples/next/pages/ui/components/authenticator/sign-up-with-username/index.page.tsx
Labels: Documentation, React

#805 Mobile-friendly Documentation
  docs/src/components/Layout/Header.tsx
  docs/src/pages/_app.page.tsx
  docs/src/pages/index.page.tsx
  docs/src/styles/docs/home.scss
Labels: Documentation

#840 Pass props from withAuthenticator to Component
  .changeset/olive-glasses-bake.md
  examples/next/pages/ui/components/authenticator/withAuthenticator/index.page.tsx
  packages/e2e/features/ui/components/authenticator/withAuthenticator.feature
  packages/react/src/components/Authenticator/withAuthenticator.tsx
Labels: Authenticator, React

#819 Fixed 'RESET_PASSWORD' translation
  .changeset/thick-brooms-turn.md
  packages/ui/src/i18n/dictionaries/authenticator/defaultTexts.ts
Labels: I18n

#882 Authenticator component translations support for Portuguese language
  .changeset/rotten-boxes-remain.md
  docs/src/pages/components/authenticator/index.page.mdx
  packages/ui/src/i18n/dictionaries/authenticator/index.ts
  packages/ui/src/i18n/dictionaries/authenticator/pt.ts
  packages/ui/src/i18n/dictionaries/index.ts
  packages/ui/src/i18n/translations.ts
Labels: I18n

#828 Polish language pack adjusted to recent changes in `main`
  .changeset/mean-icons-pay.md
  docs/src/pages/components/authenticator/index.page.mdx
  packages/ui/src/i18n/dictionaries/authenticator/index.ts
  packages/ui/src/i18n/dictionaries/authenticator/pl.ts
  packages/ui/src/i18n/dictionaries/index.ts
  packages/ui/src/i18n/translations.ts
Labels: I18n

#861 Forward ref support for TableRow, Tabs, ToggleButton & ToggleButtonGroup
  .changeset/nine-comics-work.md
  packages/react/src/primitives/Table/TableRow.tsx
  packages/react/src/primitives/Table/__tests__/TableRow.test.tsx
  packages/react/src/primitives/Tabs/Tabs.tsx
  packages/react/src/primitives/Tabs/__tests__/Tabs.test.tsx
  packages/react/src/primitives/ToggleButton/ToggleButton.tsx
  packages/react/src/primitives/ToggleButton/__tests__/ToggleButton.test.tsx
  packages/react/src/primitives/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/react/src/primitives/ToggleButtonGroup/__tests__/ToggleButtonGroup.test.tsx
  packages/react/src/primitives/View/View.tsx
  packages/react/src/primitives/View/__tests__/View.test.tsx
  packages/react/src/primitives/shared/constants.ts
  packages/ui/src/theme/__tests__/defaultTheme.test.ts
  packages/ui/src/theme/__tests__/overrides.test.ts
  packages/ui/src/theme/css/component/tabs.scss
  packages/ui/src/theme/tokens/components/tabs.js
Labels: React, pending-review

#895 Convert docs from SSR to SSG
  amplify.yml
  docs/.eslintrc.json
  docs/next.config.js
  docs/package.json
  docs/src/components/Demo.tsx
  docs/src/components/Feature.tsx
  docs/src/pages/ThemeButton.tsx
  docs/src/pages/_app.page.tsx
  docs/src/pages/_document.page.tsx
  docs/src/pages/components/ComponentsGrid.tsx
  docs/src/pages/components/card/demo.tsx
  docs/src/pages/components/card/examples/CardAsExample.tsx
  docs/src/pages/components/icon/AllIcons.tsx
  docs/src/pages/components/tabs/demo.tsx
  docs/src/pages/components/view/demo.tsx
  docs/src/pages/theming/default-theme/colors.tsx
  docs/src/pages/theming/default-theme/themeStructure.tsx
  docs/tsconfig.json
  examples/next/package.json
  package.json
  yarn.lock
Labels: Documentation
