Repository aws-amplify/amplify-ui, pull requests merged in 2022-05, with the labels that each got.

#1791 feat(geo): Forward ref to react-map-gl component
  .changeset/nine-pillows-look.md
  packages/react/src/components/Geo/MapView/index.tsx
Labels: Geo

#1887 fix(geo): Point to react-map-gl es5 bundle
  .changeset/fast-chefs-rest.md
  packages/react/src/components/Geo/Geocoder/index.tsx
  packages/react/src/components/Geo/MapView/index.tsx
Labels: React, Geo

#1917 Revert "fix(geo): Point to react-map-gl es5 bundle"
  .changeset/tough-sheep-cry.md
  packages/react/src/components/Geo/Geocoder/index.tsx
  packages/react/src/components/Geo/MapView/index.tsx
Labels: Geo

#1936 docs: Add documentation for accessing the map object in <MapView>
  docs/src/pages/[platform]/components/geo/fragments/map-ref.react.mdx
  docs/src/pages/[platform]/components/geo/fragments/use-map.react.mdx
  docs/src/pages/[platform]/components/geo/react.mdx
Labels: Documentation

#1940 feat(e2e): Add custom Cypress command to wait for idle map
  examples/next/pages/_app.page.tsx
  packages/e2e/cypress/support/commands.d.ts
  packages/e2e/cypress/support/commands.ts
  packages/react/package.json
  yarn.lock
Labels: Geo

#1919 docs: Add troubleshooting docs for CRA4 ES2020 workaround
  docs/src/pages/[platform]/getting-started/troubleshooting/troubleshooting.react.mdx
Labels: Documentation

#1966 feat(e2e): Add end-to-end tests for native maplibre-gl methods
  docs/src/pages/[platform]/components/geo/fragments/map-ref.react.mdx
  docs/src/pages/[platform]/components/geo/fragments/use-map.react.mdx
  examples/next/pages/ui/components/geo/map-with-forward-ref/aws-exports.js
  examples/next/pages/ui/components/geo/map-with-forward-ref/index.page.tsx
  examples/next/pages/ui/components/geo/use-map-hook/aws-exports.js
  examples/next/pages/ui/components/geo/use-map-hook/index.page.tsx
  packages/e2e/cypress/integration/ui/components/geo/native-map-method/native-map-method.steps.ts
  packages/e2e/features/ui/components/geo/native-map-method.feature
Labels: Geo

#1988 Flutter version bump to v0.5.0
  docs/src/pages/[platform]/getting-started/installation/dependencies.flutter.mdx
Labels: Flutter
