Repository aws-amplify/amplify-ui, pull requests merged in 2022-04, with the labels that each got.

#1594 feat: type theme component design tokens - Part III
  packages/ui/src/theme/__tests__/defaultTheme.test.ts
  packages/ui/src/theme/__tests__/overrides.test.ts
  packages/ui/src/theme/tokens/components/authenticator.ts
  packages/ui/src/theme/tokens/components/badge.ts
  packages/ui/src/theme/tokens/components/flex.ts
  packages/ui/src/theme/tokens/components/heading.ts
  packages/ui/src/theme/tokens/components/icon.ts
  packages/ui/src/theme/tokens/components/image.ts
  packages/ui/src/theme/tokens/components/link.ts
  packages/ui/src/theme/tokens/components/loader.ts
  packages/ui/src/theme/tokens/components/menu.ts
  packages/ui/src/theme/tokens/components/pagination.ts
  packages/ui/src/theme/tokens/components/placeholder.ts
  packages/ui/src/theme/tokens/components/select.ts
  packages/ui/src/theme/tokens/types/designToken.ts
Labels: run-tests

#1672 fix(docs): remove block regarding geo peer dependencies
  docs/src/pages/components/geo/react.mdx
Labels: Documentation

#1721 chore: Bump maplibre-gl-js-amplify dependency version
  .changeset/spicy-weeks-smoke.md
  packages/react/package.json
  yarn.lock
Labels: React

#1519 chore(react-core): add ui-react-core and configuration
  package.json
  packages/react-core/.eslintrc.js
  packages/react-core/.gitignore
  packages/react-core/CHANGELOG.md
  packages/react-core/LICENSE
  packages/react-core/README.md
  packages/react-core/jest.config.js
  packages/react-core/package.json
  packages/react-core/src/__tests__/helloWorld.spec.ts
  packages/react-core/src/helloWorld.ts
  packages/react-core/src/index.ts
  packages/react-core/src/nestedFolder/nested.spec.ts
  packages/react-core/src/nestedFolder/nested.ts
  packages/react-core/src/types.ts
  packages/react-core/tsconfig.json
  packages/react-core/tsup.config.js
  yarn.lock
Labels: run-tests

#1749 fix(geo): Add position option to GeocoderControl
  .changeset/cuddly-buses-walk.md
  packages/react/src/components/Geo/Geocoder/index.tsx
Labels: Geo

#1766 fix(geo): Support Pascal case for Amazon Location Service config block
  .changeset/angry-bags-behave.md
  packages/react/src/components/Geo/MapView/index.tsx
Labels: React, Geo

#1765 docs: Add Jest polyfill workaround to troubleshooting docs
  docs/src/pages/getting-started/installation/troubleshooting.react.mdx
Labels: Documentation, React

#1779 Docs Release
  .github/actions/has-changesets/action.yml
  .github/workflows/publish-latest.yml
  docs/package.json
  docs/src/pages/getting-started/installation/troubleshooting.react.mdx
  examples/angular/package.json
  examples/next/package.json
  examples/vue/package.json
  packages/angular/projects/ui-angular/CHANGELOG.md
  packages/angular/projects/ui-angular/package.json
  packages/e2e/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Geo/MapView/index.tsx
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/ui/src/theme/css/component/authenticator.scss
  packages/ui/src/theme/css/component/select.scss
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: Documentation

#1793 fix(authenticator): Update ConfirmResetPassword submit text for Angular
  .changeset/shiny-bags-doubt.md
  packages/angular/projects/ui-angular/src/lib/components/authenticator/components/confirm-reset-password/amplify-confirm-reset-password.component.html
  packages/angular/projects/ui-angular/src/lib/components/authenticator/components/confirm-reset-password/amplify-confirm-reset-password.component.ts
Labels: bug, Angular, Authenticator
